/* Fonts */
/* BREE SERIF */
.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/* DM SANS */
.dm-sans-extra-light,
.dm-sans-thin,
.dm-sans-light,
.dm-sans-regular,
.dm-sans-medium,
.dm-sans-semibold,
.dm-sans-bold,
.dm-sans-extrabold,
.dm-sans-black {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--weight, 400);
    font-style: normal;
}

/* ALL STYLING */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0rem;
    margin: 0rem;

    background: linear-gradient(#14181c, #262d37);
    color: #f4f5f6;
}

header {
    width: 100%;
    background-color: #202830;
}

section {
    margin-top: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0rem;
    margin: 0rem;
    /* removes default paddings and margins */
}

h1 {
    /* bree-serif-regular */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

h2 {
    /* dm-sans-semibold */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: #99aabb;
}

h3 {
    /* bree-serif-regular */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h4 {
    /* dm-sans-medium */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color: #99aabb;
}

h5 {
    /* bree-serif-regular */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    padding-bottom: 0.25rem;
}

p {
    /* dm-sans-regular */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #99aabb;
    font-size: 1.25rem;
}

img {
    object-fit: contain;
}

/* ID STYLING */
#navbar {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    max-width: 80%;
    padding: 2rem;

    margin: 0 auto;
    float: none;
}

#left-column {
    display: flex;
    flex-direction: column;

    max-width: 65%;
    margin-right: 4rem;
}

#right-column {
    display: flex;
    flex-direction: column;

    max-width: 30%;
    margin-left: 2rem;
}

#navbar {
    padding: 2rem;
}

#title {
    margin-bottom: 2rem;
}

#info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#profile {
    display: flex;
    flex-direction: row;
}

#name {
    display: flex;
    align-items: center;
}

#likes {
    display: flex;
    flex-direction: row;
}

#likes-icon {
    margin-right: 0.5rem;
}

#review {
    margin-bottom: 1rem;
}

#edit-icons {
    text-align: right;
}

#comments {
    border-bottom: 0.125rem solid #99aabb;
    margin-bottom: 2.5rem;
}

#tags {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    list-style: none;
    background-size: 100% auto;

    margin: 0rem;
    padding: 0rem;
    margin-top: 2rem;
}

#tag {
    /* bree-serif-regular */
    background-size: 100% auto;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
    object-fit: cover;

    color: #99aabb;
    background-image: url("./icons/Tag\ Icon.png");
    background-repeat: no-repeat;

    padding: 1rem;
    padding-right: 5rem;
    margin-bottom: 0.25rem;
}

#poster {
    background-size: 100% auto;
    width: 100%;

    flex-direction: row-reverse;
    text-align: right;
}

#visuals {
    text-align: right;
}

#stars {
    background-size: 100% auto;
    margin-top: 0.75rem;
}

#movie-poster {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 1rem;
}

#main-user {
    margin-top: 1.5rem;
}

#add-button {
    background: url("./buttons/add-watchlist/Add\ Watchlist\ \(1\).png")
        no-repeat;
}

#add-button:hover {
    background: url("./buttons/add-watchlist/Add\ Watchlist\ \(2\).png")
        no-repeat;
}

#add-button:active {
    background: url("./buttons/add-watchlist/Add\ Watchlist\ \(3\).png")
        no-repeat;
}

#play-button {
    background: url("./buttons/play-movie/Play\ Movie\ \(1\).png") no-repeat;
}

#play-button:hover {
    background: url("./buttons/play-movie/Play\ Movie\ \(2\).png") no-repeat;
}

#play-button:active {
    background: url("./buttons/play-movie/Play\ Movie\ \(3\).png") no-repeat;
}

/* CLASS STYLING */
.likes-text {
    /* bree-serif-regular */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    color: #99aabb;
    font-size: 2.75rem;
}

.profile-pics {
    margin-right: 1rem;
}

.user {
    margin-bottom: 4.5rem;
}

.star {
    position: relative;
    background-size: 100% auto;
    display: inline-block;

    width: 0;
    height: 0;

    margin-left: 0.9rem;
    margin-right: 0.9rem;
    margin-bottom: 1.2rem;

    border-right: 0.3rem solid transparent;
    border-bottom: 0.7rem solid #05ac1d;
    border-left: 0.3rem solid transparent;

    /* controls the size of the stars. */
    font-size: 1.25rem;

    &:before,
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;

        position: absolute;
        top: 0.6rem;
        left: -1rem;

        border-right: 1rem solid transparent;
        border-bottom: 0.7rem solid #05ac1d;
        border-left: 1rem solid transparent;

        transform: rotate(-35deg);
    }
    &:after {
        transform: rotate(35deg);
    }
} /* https://codepen.io/fxm90/pen/yOBWVe */

.button {
    display: flex;
    justify-content: center;

    height: 3.5rem;
    width: 3.5rem;
}

.tablet {
    display: none !important;
    visibility: hidden;
}

/* Media Styling */
/* TABLET */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    section {
        width: 100%;
    }

    #titles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 1rem;
    }

    #key {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .desktop {
        display: none !important;
        visibility: hidden;
    }

    .tablet {
        display: block !important;
        visibility: visible;
    }

    #left-column {
        max-width: 100%;
        margin-right: 0rem;
    }

    #tags {
        max-width: 9rem;
    }

    #right-column {
        max-width: 45%;
        margin-left: 0rem;
    }
}

/* MOBILE */
@media (max-width: 570px) {
    #left-column {
        max-width: 100%;
    }

    #key {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #right-column {
        max-width: 100%;
        background-size: 100% auto;
    }

    #visuals {
        flex-direction: row;
        align-items: stretch;
    }

    #movie-poster {
        width: 100%;
    }

    #poster {
        width: 100%;
    }

    #logo {
        width: 90%;
    }

    .desktop#tags {
        display: block !important;
        visibility: visible;
    }

    .tablet.mobile {
        display: none !important;
        visibility: hidden;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 0.75rem;
    }

    h5 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.125rem;
    }

    .likes-text {
        font-size: 2.5rem;
    }
}
