/* FONTS */
/* BREE SERIF */
.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/* DM SANS */
.dm-sans-extra-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.dm-sans-thin {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.dm-sans-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-medium {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-semibold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dm-sans-extrabold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.dm-sans-black {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* ALL STYLING */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0rem;
    margin: 0rem;

    background: linear-gradient(#14181c, #262d37);
    color: #f4f5f6;
}

header {
    width: 100%;
    background-color: #202830;
}

section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; */

    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0rem;
    margin: 0rem;
} /* removes default paddings and margins */

h1 {
    /* bree-serif-regular */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 4rem;
}

h2 {
    /* dm-sans-semibold */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 1.5rem;
    color: #99aabb;
}

h3 {
    /* bree-serif-regular */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 2rem;
}

h4 {
    /* dm-sans-medium */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    font-size: 1rem;
    color: #99aabb;
}

h5 {
    /* bree-serif-regular */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.75rem;
    padding-bottom: 0.25rem;
}

p {
    /* dm-sans-regular */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #99aabb;
    font-size: 1.25rem;
}

img {
    object-fit: contain;
}

/* ID STYLING */
#navbar {
    padding: 2rem;
}

#title {
    margin-bottom: 2rem;
}

#info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

#profile {
    display: flex;
    flex-direction: row;
}

#name {
    display: flex;
    align-items: center;
}

#likes {
    display: flex;
    flex-direction: row;
}

#likes-icon {
    margin-right: 0.5rem;
}

#review {
    margin-bottom: 1rem;
}

#edit-icons {
    text-align: right;
}

#comments {
    border-bottom: 0.125rem solid #99aabb;
    margin-bottom: 2.5rem;
}

.likes-text {
    /* bree-serif-regular */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    color: #99aabb;
    font-size: 2.75rem;
}

.profile-pics {
    margin-right: 1rem;
}

.user {
    margin-bottom: 3rem;
}
